.nav-list {
    padding: 0px;
    list-style: none;
    margin: 0px;
    li {
    	display: inline-block;
    	margin-left: $space-sm;
    }
    a {

    }
    &--left {
    	text-align: left;
    	li {
    		margin-right: $space-sm;
    	}
    }
}