.subnav {
	text-align: center;
	margin: 0px;
	list-style: none;
	padding: 0px;
	background: #ececec;
	padding: 16px 0px;
	margin-bottom: 16px;
	border-bottom: solid 1px #e2e2e2;
	li {
		display: inline-block;
		a {
			color: #416092;
			text-transform: uppercase;
			font-weight: 700;
			margin: 0px 10px;
		}
	}
}